<h1>Random Beers</h1>

<div class="random-beer">
  <a href="/randomBeer"><img src="{{this.image_url}}" alt="image"></a>
  <div class="random-beer-details">
    <h3>{{this.name}}</h3>
    {{!-- <p>Name: {{this.name}}</p> --}}
    <p>{{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>
    <p>Food pairing: {{#each this.food_pairing}}
      <span>{{this}}</span>
      {{/each}}
    </p>
    <p>Brewers Tips: {{this.brewers_tips}}</p>
  </div>
</div>